<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elysian Fields</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/login/form-elements.css">
    <link rel="stylesheet" href="../static/css/login/style.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vue-resource.js"></script>
    <script src="../static/js/vue-router.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../static/ico/login/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../static/ico/login/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../static/ico/login/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../static/ico/login/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/login/apple-touch-icon-57-precomposed.png">
</head>
<body>
<!-- Top content -->
<div class="top-content" style="background-image: url('../static/images/login/1.jpg')">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Elysian Fields</strong> Login Form</h1>
                    <div class="description">
                        <p>
                            This is a free responsive login form made with Bootstrap.
                            Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div id="user" class="form-bottom">
                        <input type="hidden" v-model="pageId">
                        <form role="form" action="" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only">Username</label>
                                <input type="text" name="username" placeholder="Username..."
                                       class="form-username form-control" v-model="username" autocomplete='username'>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" name="password" placeholder="Password..."
                                       class="form-password form-control" v-model="password" autocomplete='password'>
                            </div>
                            <button type="button" class="btn" @click="submission">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#user',
        data: {
            pageId:"",
            username: "",
            password:""
        },
        mounted(){
            this.init();
        },
        methods:{
            init:function(){
                this.$http.post('../login/loginId').then(function(res) {
                    this.pageId=res.data;
                })
            },
            submission:function () {
                let data ={username:this.username,password:this.password,pageId:this.pageId};
                this.$http.post('../login/login', data, {emulateJSON:true}).then(function(res) {
                    if(res.data.sign==="success"){
                        location.href="../index/index";
                    }else{
                        alert(res.data.data);
                    }
                }).catch(function(response) {

                });
            }
        }
    })
</script>
</html>