<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common_resource"></div>
    <title>商品页</title>
</head>
<body>
<div id="form" class="container" style="text-align: center">
    <div class="input-group">
        <span class="input-group-addon">订单金额:</span>
        <input type="text" class="form-control" v-model="amount" placeholder="请输入订单金额" v-focus/>
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" @click="add">+</button>
      </span>
    </div>
    <div class="input-group">
        <span class="input-group-addon">订单名称:</span>
        <input type="text" class="form-control" v-model="orderName" placeholder="请输入订单名称"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">订单编码:</span>
        <input type="text"  class="form-control" v-model="orderId" placeholder="请输入订单编码"/>
    </div>
    <button type="button" class="btn btn-default" @click="submission">提交订单</button>
</div>
</body>
<script>
    Vue.directive('focus', {
        // 当绑定元素插入到 DOM 中。
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    });
    new Vue({
        el:'#form',
        data:{
            amount:'',
            orderName:'',
            orderId:''
        },
        methods:{
            submission:function(){
                //发送 post 请求
                var data ={amount:this.amount,orderName:this.orderName,orderId:this.orderId};
                this.$http.post('/alipay/pay', data, {emulateJSON:true}).then(function(res){
                    var div = document.createElement('div');
                    div.innerHTML = res.bodyText;
                    document.body.appendChild(div);
                    document.forms[0].submit();
                },function(res){
                    console.log(res.status);
                });
            },
            add:function(){
                amount=this.amount++;
            }
        }
    });
</script>
</html>