<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common_resource"></div>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>极乐世界</title>
</head>
<body>
<div id="form" class="container" style="text-align: center">
    <div class="input-group">
        <span class="input-group-addon">账号:</span>
        <input type="text" class="form-control" v-model="userName" placeholder="请输入账号" v-focus/>
      </span>
    </div>
    <div class="input-group">
        <span class="input-group-addon">密码:</span>
        <input type="text" class="form-control" v-model="password" placeholder="请输入密码"/>
    </div>
    <button type="button" class="btn btn-default" @click="submission">登录</button>
</div>
</body>
<script>
    Vue.directive('focus', {
        // 当绑定元素插入到 DOM 中。
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    });
    new Vue({
        el:'#form',
        data:{
            userName:'',
            password:''
        },
        methods:{
            submission:function(){
                //发送 post 请求
                var data ={userName:this.userName,password:this.password};
                this.$http.post('../indexData/login', data, {emulateJSON:true}).then(function(res){
                    console.log(res);
                },function(res){
                    console.log(res.status);
                });
            },
            add:function(){
                amount=this.amount++;
            }
        }
    });
</script>
</html>